<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DevExp</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Nov 17 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main" class="main">
    <section class="section">
      <div class="row">
        <div class="col-xxl-6">

          <div class="card pt-2">
            <div class="card-body pb-0">
                <a class="d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="assets/img/profile-img.jpg" width="50" alt="Profil" class="rounded-circle" style="margin-right: 15px;" _mstalt="94315" _msthash="32">
                    <div class="ml-4">
                        <span class="d-block ps-s2" >K. Anderson</span>
                        <span class="d-block text-muted" >Il y a 10 minutes</span>
                    </div>
                    
                </a>
              <p class="py-2 mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt blanditiis molestiae ex qui molestias consequuntur, libero excepturi sequi eligendi eius voluptatem culpa, fugit quidem expedita quam illum possimus tempore. Suscipit!
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam esse, dignissimos nemo reiciendis, facilis porro sit voluptatibus aut corporis ad consectetur magnam! Recusandae ipsa excepturi quaerat earum rem quidem ducimus.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur beatae nesciunt iusto delectus recusandae quisquam, illo iste inventore quae? Eaque doloribus facilis perferendis non cupiditate itaque aperiam id dolore nemo.    
            </p>
                
              <div class="text-primary text-muted d-flex align-items-center">
                <img src="./assets/img/likes.png" class="img-fluid" alt="Like button">
                <span class="mx-1">92 personnes aiment ceci</span>
              </div>
              <div class="row text-center border-top py-2 fw-bold">
                <div class="col">
                    <button type="submit" class="btn"><img src="./assets/img/like.png" class="img-fluid" alt="Like button"></button>
                </div>
                <div class="col">
                    <img src="./assets/img/comment.png" class="img-fluid" alt="Comment button">
                </div>
            </div>            
            </div>

          </div>

        </div>
      </div>

      <div class="card pt-2">
        <div class="card-body pb-0">
            <a class="d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" width="50" alt="Profil" class="rounded-circle" style="margin-right: 15px;" _mstalt="94315" _msthash="32">
                <div class="ml-4">
                    <span class="d-block ps-s2" >K. Anderson</span>
                    <span class="d-block text-muted" >Il y a 10 minutes</span>
                </div>
                
            </a>
          <p class="py-2 mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt blanditiis molestiae ex qui molestias consequuntur, libero excepturi sequi eligendi eius voluptatem culpa, fugit quidem expedita quam illum possimus tempore. Suscipit!
          </p>    
          <p>
              <a href="#">J'aime (6)</a>
              <a href="#" class="mx-2">Répondre</a>
          </p>      
        </div>

      </div>

      <div class="card pt-2">
        <div class="card-body pb-0">
            <a class="d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" width="50" alt="Profil" class="rounded-circle" style="margin-right: 15px;" _mstalt="94315" _msthash="32">
                <div class="ml-4">
                    <span class="d-block ps-s2" >K. Anderson</span>
                    <span class="d-block text-muted" >Il y a 10 minutes</span>
                </div>
                
            </a>
          <p class="py-2 mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt blanditiis molestiae ex qui molestias consequuntur, libero excepturi sequi eligendi eius voluptatem culpa, fugit quidem expedita quam illum possimus tempore. Suscipit!
          </p>    
          <p>
              <a href="#">J'aime (6)</a>
              <a href="#" class="mx-2">Répondre</a>
          </p>      
        </div>

      </div>

      <div class="card pt-2">
        <div class="card-body pb-0">
            <a class="d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" width="50" alt="Profil" class="rounded-circle" style="margin-right: 15px;" _mstalt="94315" _msthash="32">
                <div class="ml-4">
                    <span class="d-block ps-s2" >K. Anderson</span>
                    <span class="d-block text-muted" >Il y a 10 minutes</span>
                </div>
                
            </a>
          <p class="py-2 mb-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt blanditiis molestiae ex qui molestias consequuntur, libero excepturi sequi eligendi eius voluptatem culpa, fugit quidem expedita quam illum possimus tempore. Suscipit!
          </p>    
          <p>
              <a href="#">J'aime (6)</a>
              <a href="#" class="mx-2">Répondre</a>
          </p>      
        </div>

      </div>
    
      <form action="" method="post">
        <div class="form-group">
            <textarea class="form-control r" name="content" id="content" cols="10" rows="3" placeholder="Votre commentaire"></textarea>
            <input type="submit" value="Commenter" class="btn btn-primary my-2">
        </div>
      </form>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>